body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

/* Light theme styles */
body {
    background-color: white;
    color: black;
  }
  
  /* Dark theme styles */
  body.dark-mode {
    background-color: black;
    color: white;
  }

  #dark-mode-toggle {
    width: 170px;
    height: 48px;
    padding: 10px;
    font-size: 16px;
  }

  nav {
    background-color: #333;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float: left;
  }

  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #111;
  }

  #search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
  }
  
  #search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
  }
  
  #crypto-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #crypto-table th, #crypto-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  #crypto-table th {
    background-color: #f2f2f2;
  }
  
  #crypto-table td {
    text-align: center;
  }
  